@charset "utf-8";
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}
body {
    line-height: 1
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}
nav ul {
    list-style: none
}
blockquote, q {
    quotes: none
}
blockquote:after, blockquote:before, q:after, q:before {
    content: '';
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: 700
}
del {
    text-decoration: line-through
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}
input, select {
    vertical-align: middle
}
img {
    max-width: 100%;
    height: auto;
    line-height: 0
}
/* ここまでresetCSS */


body {
    font-family: ヒラギノ角ゴ ProN W3, HiraKakuProN-W3, ヒラギノ角ゴ Pro W3, HiraKakuPro-W3, メイリオ, Meiryo, ＭＳ\ Ｐゴシック, MS Pgothic, Osaka, sans-serif;
    line-height: 1.8;
    color: #333333
}
#outline {
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none
}
#con0 {
    margin: 0;
    padding: 0
}
#con2 {
    width: 100%;
    margin: 0
}
#con3 {
    position: relative;
    margin: 0;
    padding: 0
}
#header {
    padding: 0;
    background: linear-gradient(#00dde5, #00A2a8);
    height: 80px
}
#tibl {
    height: 80px;
    overflow: hidden;
    z-index: 200
}
#title {
    float: left;
    margin: 0 0 0 10px;
    padding: 5px 0 0;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: rgba(0,0,0,1);
    line-height: 1
}
#title span {
    font-size: 36px
}
#title a {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: rgba(0,0,0,1);
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    padding-bottom: 0
}
#dis {
    display: none
}
#nav-open {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 30px;
    margin: 0;
    background: #00A2a8
}
#nav-open a {
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    -moz-text-shadow: 1px 1px 1px #999;
    -webkit-text-shadow: 1px 1px 1px #999;
    text-shadow: 1px 1px 1px #999
}
#navop {
    width: 100%;
    position: absolute;
    top: -230px;
    transition: top 1s;
    -webkit-transition: top 1s;
    -moz-transition: top 1s;
    text-align: center;
    background: #00A2a8;
    z-index: 100
}
#navop:target {
    top: 80px
}
#navop li:nth-child(2n+1) {
    float: left;
    width: 50%;
    text-align: center;
    border-right: 1px solid #ccc;
    border-left: none;
    border-bottom: 1px solid #fff;
    list-style: none
}
#navop li:nth-child(2n) {
    float: right;
    width: 49%;
    text-align: center;
    border-right: none;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    list-style: none
}
#navop li:first-child {
    border-right: 1px solid #ccc
}
#navop li:last-child {
    border-left: 1px solid #fff
}
#navop a {
    height: 25px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    padding: 14px 0 9px;
    display: block;
    color: #fff;
    -moz-text-shadow: 1px 1px 1px #999;
    -webkit-text-shadow: 1px 1px 1px #999;
    text-shadow: 1px 1px 1px #999
}
#navop #nav-close {
    clear: both
}
.dmail #gnav li.gnav01 a, .fmail #gnav li.gnav01 a, .imail #gnav li.gnav01 a, .omail #gnav li.gnav01 a, .pmail #gnav li.gnav01 a, .purpose #gnav li.gnav02 a, .qa #gnav li.gnav06 a, .sitedata #gnav li.gnav03 a, .smail #gnav li.gnav01 a, .tmail #gnav li.gnav01 a, .ym #gnav li.gnav02 a, .yobi #gnav li.gnav05 a, .yobib #gnav li.gnav05 a, .yobis #gnav li.gnav05 a {
    background-color: rgba(255,255,255,.6);
    color: #F60
}
#footer {
    clear: both;
    width: 100%;
    background-color: #FFF
}
#footer2 {
    text-align: center;
    color: #666;
    margin: 0 auto 0 auto;
    width: 100%;
    height: auto;
    font-size: 80%
}
#footer1 {
    background-color: #00A2a8;
    width: 100%;
    height: auto;
    margin: 0;
    padding-top: 5px;
    text-align: center;
    color: #fff;
    font-weight: bolder
}
.ud {
    padding-left: 10px;
    color: #f4b800;
    margin: 1em 0 5px 7px;
    min-height: 23px;
    font-size: 115%;
    font-weight: 700
}
#fnav {
    padding-bottom: 3px;
    margin: 10px 4px
}
#fnav li {
    float: left;
    padding: 0;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    background: -webkit-gradient(linear, left top, left bottom, from(#c3fb00), to(#9cc900));
    width: 49%;
    text-align: center;
    font-weight: 700;
    text-shadow: -1px -1px 0 rgba(150,150,150,.3);
    margin: 0 0 5px;
    list-style: none none;
}
#fnav li a {
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 8px 0;
    text-align: center;
    color: #fff;
    text-shadow: rgba(102,102,102,1)
}
#fnav li:nth-child(2n+1) {
    float: left
}
#fnav li:nth-child(2n) {
    float: right
}
.dmail #fnav li.fnav05 a, .fmail #fnav li.fnav03 a, .home #fnav li.fnav00 a, .imail #fnav li.fnav11 a, .omail #fnav li.fnav11 a, .pmail #fnav li.fnav01 a, .purpose #fnav li.fnav06 a, .qa #fnav li.fnav10 a, .sitedata #fnav li.fnav07 a, .smail #fnav li.fnav04 a, .tmail #fnav li.fnav02 a, .ym #fnav li.fnav06 a, .yobi #fnav li.fnav09 a, .yobib #fnav li.fnav09 a, .yobis #fnav li.fnav09 a {
    color: #f90
}
#pnav {
    text-align: center;
    width: 90%;
    padding: 10px 0 5px;
    margin: 0 auto
}
#pnav li {
    list-style: none
}
#pnav a {
    font-size: 11px;
    font-weight: 500;
    text-decoration: none;
    padding: 1px 3px;
    color: #666;
    text-shadow: rgba(102,102,102,1)
}
#bread {
    width: 100%;
    float: none;
    font-size: 11px
}
#bread a {
    color: #0074a2;
    font-size: 11px
}
.brd1, .brd2 {
    margin: 2px 0 7px 3px;
    float: left
}
h1 {
    width: 85%;
    padding: 5px 0 2px 15px;
    margin: 10px 0 20px 3%;
    border-left: 10px solid #00A2a8;
    font-weight: 700;
    font-size: 130%;
    color: #00A2a8
}
#con3 p {
    margin: 10px 1em 20px 1em
}

#sited {
    display: block;
    margin: 10px;
    padding-bottom: 10px
}
#sited li {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffd4e3), to(#ffb1c7));
    width: 90%;
    margin-bottom: 5px;
    padding: 0 5px 8px 10px;
    list-style-type: none
}
#sited li a {
    display: block;
    width: 100%;
    padding: 8px 0 0;
    color: #fff;
    background: url(../images/link_w.png) right center no-repeat;
    text-decoration: none
}
.osu {
    background: url(../images/link_w.png) right center no-repeat
}
.stit {
    font-weight: 700;
    font-size: 110%;
    display: block;
    text-shadow: -1px -1px 0 rgba(150,150,150,.3)
}
.sdis {
    color: #000;
    font-weight: 400;
    margin: 0 0 0 5px;
    font-size: 12px;
    display: block
}
.kenmei {
    font-weight: 700;
    margin-left: 5px
}
.mail {
    width: 90%;
    background-color: #cff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 10px;
    margin: 0 auto 20px
}
.wmail {
    width: 90%;
    background-color: #fdf;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 10px 15px;
    margin: 0 auto 20px
}
.arr {
    padding-bottom: 10px;
    margin: 0 auto;
    text-align: center
}
.arr img {
    width: 17px;
    height: 17px;
    border-width: 0
}
#con3 .mail p, #con3 .wmail p {
    padding: 5px 0;
    margin: 0
}
.sample {
    width: 90%;
    margin: 0 auto 3em;
    padding: 0
}
#deaikei ol, #deaikei ul {
    margin: 10px 0 15px 2em
}
#deaikei li {
    margin: 0
}
.mailtb {
    margin: 10px auto;
    width: 100%
}
.leftnav {
    padding-bottom: 10px;
    margin: 10px 0 10px 10px;
    width: 90%;
    overflow: hidden
}
.sbh {
    min-height: 21px;
    width: 100%;
    font-weight: 700;
    color: #e57100;
    font-size: 110%;
    text-shadow: none;
    padding-left: 23px;
    margin: 2px 0 0 0
}
.leftnav ul {
    display: block;
    width: 100%;
    list-style: none
}
.leftnav li {
    background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#d0d0d0));
    width: 90%;
    padding: 5px 0 5px 15px;
    font-size: 16px;
    font-weight: 700;
    text-shadow: -1px -1px 0 rgba(150,150,150,.3);
    list-style-type: none
}
.leftnav li a {
    font-size: 15px;
    display: block;
    width: 98%;
    padding: 8px 0;
    background: url(../images/link_w.png) right center no-repeat;
    color: #fff;
    text-decoration: none
}
.leftnav li:first-child {
    border-top-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -webkit-border-top-right-radius: 8px
}
.leftnav li:last-child {
    border-bottom-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px
}
.blue {
    color: #00F
}
.hrd {
    width: 90%;
    height: 2px;
    border-top: dashed 1px #999
}
h2 {
    width: 95%;
    padding: 5px 0 2px 5%;
    margin: 20px 0 0 0;
    font-weight: 700;
    font-size: 115%;
    background-color: #00A2a8;
    color: #FFFFFF
}
h3 {
    font-size: 110%;
    color: #e57100;
    margin: 5px 0 10px 5px
}
h4, .data_title {
    font-size: 105%;
    font-weight: bolder;
    margin: 1.5em 0 10px 1em
}
b, strong {
    font-weight: 400;
    background: linear-gradient(transparent 40%, #fff099 40%);
}
.center {
    text-align: center
}
a, a:link {
    color: #0074a2;
    text-decoration: underline
}
a:visited {
    color: #BC8F8F;
    text-decoration: underline
}
.hutoaka{color: red;font-weight: bold;font-size: 120%}
.hutokuro{font-weight: bold;font-size: 110%}
.libut {
    width: 95%;
    margin: 5px auto 0;
    padding: 15px 0
}
.libut li {
    background-color: #f6f6f6;
    width: 89%;
    list-style-type: none;
    border-top: solid 1px #C6C6C6;
    border-left: solid 1px #C6C6C6;
    border-right: solid 1px #C6C6C6;
    padding: 10px 5% 10px 5%;
    margin: 0;
}
.libut li:last-child {
    border-bottom: solid 1px #C6C6C6
}
.libut li a {
    color: #666666;
    text-decoration: none;
    font-weight: 600;
    font-size: 105%;
    display: block
}
.libut li a:hover {
    opacity: 0.4
}
.libut li span {
    color: #9B9B9B;
    margin: 0 0 0 10px;
    font-size: 90%;
    display: block;
    font-weight: normal
}
#mokujio {
    width: 100%;
    position: relative;
    margin-bottom: 20px
}
#mokuji {
    width: 90%;
    border: 1px solid #CCCCCC;
    padding: 3%;
    margin: 10px auto 20px auto;
    background: #efefef;
}
.moh {
    text-align: center;
    margin: 5px auto;
    color: #0074a2;
    font-size: 120%
}

#mokuji ol {
    counter-reset: section;
    list-style-type: none;
    margin: 5px 0 5px 0.7em;
}
#mokuji ol li {
    margin: 5px 0;
}
#mokuji ol li:before {
    counter-increment: section;
    color: #0074a2;
    content: counters(section, "-") " ";
}
.small{font-size: 80%}
#mokuji label {display: inline;
    cursor :pointer;
    text-decoration: underline;
}
#mokuji input {
    display: none;
}
#mokuji .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}
#mokuji input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}
.btnli li {
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#c3fb00), to(#9cc900));
    margin: 5px auto;
    padding: 0 10px;
    width: 80%;
    list-style: none
}
.btnli li a {
    display: block;
    width: 90%;
    font-size: 110%;
    padding: 10px 5% 10px 3%;
    color: #fff;
    font-weight: 700;
    text-shadow: -1px -1px 0 rgba(150,150,150,.3);
    text-decoration: none;
    background: url(../images/link_w.png) right center no-repeat;
    float: left
}
.scol {
    margin-left: 3em
}
#modt {
    text-align: right;
    margin-bottom: 40px;
    font-size: 90%;
    margin-right: 10px
}
.efooter {
    margin-right: 10%;
    width: 90%
}
.eft3 {
    width: 100%;
    margin-bottom: 1em
}
.eft2 {
    float: right
}
.eft1 {
    margin-right: 1em;
    font-size: 80%
}
.imgnon {
    display: none
}
.snsb {
    display: none;
    overflow: hidden;
    width: 100%;
    margin: 40px 0 20px
}
.snsb1 {
    display: none
}
.tabn {
    display: none
}
.pic250, .pic330 {
    width: 100%;
    margin: 10px auto;
    text-align: center
}
.picf{width: 100%}
.picf img{width: 80%;margin: 10px 8% 10px 12%;}
.sitepage #con1 {
    width: 100%;
    margin-right: 0
}
.sitepage #con2 {
    width: 100%;
    margin-left: 0;
    margin-right: 0
}
.sitepage #con3 {
    position: relative;
    margin: 0
}
.sitepage #header {
    height: 50px
}
.sitepage #tibl {
    height: 50px
}
.sitepage .sitepagetop {
    width: 100%;
    clear: both
}
.sitepage #con3 .cachcopy {
    width: 100%;
    font-size: 24px
}
.sitepage .sp300x300, .sitepage .sp400x400 {
    display: none
}
.sitepage #con3 p {
    padding: 0;
    margin: 0
}
.sitepage #con3 .maindisc {
    width: 90%;
    font-size: 20px;
    font-weight: 800;
    color: #000;
    margin: 0 auto 0 auto
}
.sitepage #con3 .maindisc p {
    margin: 0 auto;
    padding: 0
}
.sitepage #con3 .subdisc {
    margin: 5px auto 20px 20px;
    padding: 0
}
.sitepage #con3 .subdisc ul {
    width: 90%;
    margin: 0 0 0 10%;
    padding: 0
}
.sitepage #con3 .subdisc li {
    margin: 3px 0;
    padding: 0;
    color: rgba(255,102,0,1)
}
.sitepage #con3 .sec1, .sitepage #con3 .sec2 {
    margin-bottom: 50px;
    padding-right: 5px
}
.sitepage #con3 .dousen {
    width: 100%;
    margin: 0 0 5px;
    padding: 5px;
    background: rgba(254,238,224,1)
}
.sitepage #con3 .dousenin {
    width: 100%;
    padding: 5px 0;
    margin: 0 0 20px
}
.sitepage #con3 .sphmban {
    margin: 5px 0
}
.sitepage #con3 .dousendisc {
    width: 160px;
    margin: 5px 0 5px 5px;
    font-size: 13px;
    float: left
}
.sitepage .sitepageafter {
    font-size: 16px
}
.sitepage #con3 .wkwk .maindisc {
    font-size: 20px;
    font-weight: 800;
    margin: 0 0 0 10px;
    padding-top: 0
}
.sitepage #con3 .wkwk .subdisc {
    width: 330px;
    font-size: 15px;
    margin-left: 15px
}
.sitepage #con3 .wkwk .dousen {
    width: 100%;
    margin: 0 0 5px;
    padding: 5px
}
.sitepage #con3 .wkwk .dousenin {
    width: 100%;
    padding: 0;
    margin: 10px 0;
    text-align: center
}
.sitepage #con3 .wkwk .dousendisc {
    width: 90%;
    height: auto;
    margin: 15px auto 0;
    float: none;
    font-size: 15px;
    font-weight: 700;
    text-align: left
}
.sitepage #con3 .wkwk .sphmban {
    margin: 5px auto
}
.sitepage #con3 .wkwk .dousendisc .larg {
    font-size: 15px;
    margin: 0 0 0 30px
}
.sitepage #sited {
    display: none
}
.sitepage #fnav {
    display: none
}
.sitepage #nav-open {
    display: none
}
.spbk {
    width: 100%;
    text-align: center;
    font-size: 75%
}
.sitepage #con3 .sitepageafter .step {
    width: 5em;
    font-size: 13px;
    color: #fff;
    margin: 20px 15px 15px 5px;
    padding: 3px;
    background: rgba(0,0,255,1);
    text-align: center
}
.sitepage #con3 .sitepageafter .tokucho {
    font-size: 110%;
    margin: 30px 15px 5px 5px
}
.sitepage #con3 .sitepageafter p {
    margin: 5px 0 0 20px;
    padding-left: 0
}
.kanren {
    width: 90%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 10px;
    border: 1px solid #CCCCCC;
    margin: 50px auto 20px;
}
.kanren ul {
    margin-left: 1.5em
}
.kanren h2 {
    color: #666666;
    font-size: 105%;
    background-color: #ffffff
}
.page-top {
    margin: 0;
    padding: 0;
}
.page-top p {
    margin: 0;
    padding: 0;
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 100
}
.move-page-top {
    display: block;
    width: 50px;
    height: 50px;
    color: #fff;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.move-page-top:hover {
    opacity: 0.85;
}
.arlist {
    margin-left: 10%;
    width: 85%
}
.arlist li {
    margin: 1.5em 0
}
#kijip,#kijim {
    border: 1px #DCDCDC solid;
    padding: 15px 3%;
    width: 90%;
    margin: 5px auto 50px
}
.kijoph {
    color: #1CD9C3;
    margin-left: 1em
}
#con3 .kijoph p {
    margin: 0;
    padding: 0;
    font-weight: 700
}
#kijip ul,#kijim ul {
    margin: 10px 0 0 1.5em;
    list-style-image: url(../images/checkb.png)
}
#kijip li,#kijim li {
    margin: 10px 0;
    color: #6E6E6E
}
.site_show {width: 70%;margin: 10px auto}
.site_show dl,
.site_show dt,
.site_show dd {
  box-sizing: border-box;font-size: 95%
}
.site_show dl {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.site_show dt,
.site_show dd {
  padding: 10px 10px 0 10px;
  border-top: 1px solid #ccc;
}
.site_show dt {
  width: 60%;
  float: left;
}
.site_show dd {
  margin-left: 60%;
  padding-bottom: 10px;
  border-left: 1px solid #ccc;text-align: center
}
.site_show dd:after {
  content: '';
  display: block;
  clear: both;
}

.sitelist1{width: 85%;margin: 5px auto;background-color: antiquewhite;padding: 5%}

.sd_outer1 {border: solid 2px #ccc;border-radius:2px;width: 90%;margin: 10px auto}

.sd_img {width: 25%;float: left;text-align: center}
.sd_bottom{text-align: left}
.sd_bottom p{margin-left: -20px}
.sd_right{width: 75%;float: left}
.sd_outer1 ul{margin-left: 80px}
.sd_outer1 p{margin-left: 120px}
.sd_outer1 h4{color:#1A47F8}
.sd_guid {text-align: right}
.sd_sitename{font-size: 120%;font-weight: bold}
.sd_outer2 p{margin: 5px}

.fb-star{margin-left: 50px}

.exp-box-m{background-color:#e0ffff;width: 80%;padding: 10px 5%;margin: 25px auto}
.exp-box-w{background-color:#fff0f5;width: 80%;padding: 10px 5%;margin: 25px auto}
.exp-app{text-align: right}
.data_i ul{margin-left: 7em}
.bbs-title{font-weight: bold}
.site_int{font-size: 105%;font-weight: bold}

/* ページのポイント */
.point{background-color: beige; padding: 15px 2%; margin: 10px 2%; border-radius: 10px}
.point ul{margin-left: 2em; margin-top: 10px}
.point li{margin-top: 10px}
.point span{margin: 0 0 20px 10px; color: #1A47F8; font-weight: bold; font-size: 110%}

.mobnone, .sitepage #bread, .sitepage nav #gnav {
    display: none
}
#fnav:after, #gnav:after, #pnav:after, #redline:after, #tibl:after, .btnli li:after, .dousen:after, .sitepagetop:after, .eft3:after, #bread:after, .sd_outer2:after, .sd_outer1:after {
    content: "";
    display: block;
    clear: both
}
