@charset "utf-8";
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

body {
    line-height: 1
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

nav ul {
    list-style: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

input, select {
    vertical-align: middle
}

img {
    max-width: 100%;
    height: auto;
    line-height: 0
}

/* ここまでresetCSS */
body {
    font-family: ヒラギノ角ゴ ProN W3, HiraKakuProN-W3, ヒラギノ角ゴ Pro W3, HiraKakuPro-W3, メイリオ, Meiryo, ＭＳ\ Ｐゴシック, MS Pgothic, Osaka, sans-serif;
    line-height: 1.8;
    color: #333333
}

#outline {
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#header {
    padding: 0;
    height: 40px;
    border-bottom: 1px solid #7e7e7e;
}

#tibl {
    height: 40px;
    overflow: hidden;
    z-index: 200
}

#title {
    float: left;
    margin: 0 0 0 10px;
    padding: 5px 0 0;
    width: 50%
}

#title img {
    max-width: 100%;
}

#dis {
    display: none
}

#navop {
    display: none
}

#footer {
    clear: both;
    width: 100%;
    background-color: #FFF
}

#footer2 {
    text-align: center;
    color: #666;
    margin: 0 auto 0 auto;
    width: 100%;
    height: auto;
    font-size: 80%
}

#footer1 {
    background-color: #00A2a8;
    width: 100%;
    height: auto;
    margin: 0;
    padding-top: 5px;
    text-align: center;
    color: #fff;
    font-weight: bolder
}

.ud {
    padding-left: 10px;
    color: #f4b800;
    margin: 1em 0 5px 7px;
    min-height: 23px;
    font-size: 115%;
    font-weight: 700
}

#pnav {
    text-align: center;
    width: 90%;
    padding: 10px 0 5px;
    margin: 0 auto
}

#pnav li {
    list-style: none
}

#pnav a {
    font-size: 11px;
    font-weight: 500;
    text-decoration: none;
    padding: 1px 3px;
    color: #666;
    text-shadow: rgba(102, 102, 102, 1)
}

#bread {
    width: 100%;
    float: none;
    font-size: 11px
}

#bread a {
    color: #0074a2;
    font-size: 11px
}

.brd1, .brd2 {
    margin: 2px 0 7px 3px;
    float: left
}

h1 {
    width: 96%;
    margin: 10px 2%;
    font-weight: 700;
    font-size: 145%;
    color: #00A2a8;
}

main section {
    margin-bottom: 4em;
    margin-top: 3em;
}

h2 {
    width: 95%;
    padding: 5px 0 2px 5%;
    margin: 20px 0 0 0;
    font-weight: 700;
    font-size: 115%;
    background-color: #00A2a8;
    color: #FFFFFF
}

h3 {
    font-size: 110%;
    color: #00A2a8;
    margin: 5px 0 10px 5px
}

h4 {
    font-size: 105%;
    font-weight: bolder;
    margin: 1.5em 0 10px 1em
}

.center {
    text-align: center
}

a, a:link {
    color: #0074a2;
    text-decoration: underline
}

a:visited {
    color: #BC8F8F;
    text-decoration: underline
}

#modt {
    text-align: right;
    margin-bottom: 15px;
    font-size: 80%;
    margin-right: 10px
}

.efooter {
    margin-right: 10%;
    width: 90%
}

.eft3 {
    width: 100%;
    margin-bottom: 1em
}

.eft2 {
    float: right
}

.eft1 {
    margin-right: 1em;
    font-size: 80%
}

.imgnon {
    display: none
}

.sitepagetop {
    width: 100%;
    clear: both
}

.cachcopy {
    width: 100%;
    font-size: 24px
}

main p {
    padding: 0;
    margin: 0
}

.sq_img {
    width: 30%;
    height: auto;
    float: left;
    margin-left: 3%;
}

.maindisc {
    width: 60%;
    font-size: 20px;
    font-weight: 800;
    color: #000;
    float: left;
}

.maindisc p {
    margin: 0 auto;
}

.ranking .maindisc {
    width: 100%;
    margin-bottom: 40px;
}

.subdisc {
    margin: 15px auto 0 20px;
    padding: 0;
    font-size: 15px;
}

.ranking .subdisc {
    margin-left: 0;
}

.ranking section {
    margin-bottom: 80px;
}

.snsb {
    display: none;
}

.subdisc ul {
    width: 90%;
    margin: 0 0 30px 10%;
    padding: 0;
    font-size: 18px;
}

.subdisc li {
    margin: 3px 0;
    padding: 0;
    color: rgba(255, 102, 0, 1)
}

.sec1, .sec2 {
    margin-bottom: 50px;
    padding-right: 5px
}

.dousen {
    width: 100%;
    margin: 0 0 5px;
    padding: 5px;
    background: rgba(254, 238, 224, 1)
}

.dousenin {
    width: 100%;
    padding: 5px 0;
    margin: 0 0 20px
}

.dousendisc {
    width: 100%;
    margin: 5px 0;
    font-size: 13px;
    text-align: center;
}

main .dousendisc p {
    margin: 0
}

.sitepageafter {
    font-size: 16px
}

.maindisc {
    font-size: 20px;
    font-weight: 800;
    margin: 0 0 0 10px;
    padding-top: 0
}


.dousen {
    width: 100%;
    margin: 0 0 5px;
    padding: 5px
}

.dousenin {
    width: 100%;
    padding: 0;
    margin: 10px 0;
    text-align: center
}

.sphmban {
    margin: 5px auto
}

#fnav {
    display: none
}

.sitepageafter .step {
    width: 5em;
    font-size: 13px;
    color: #fff;
    margin: 20px 15px 15px 5px;
    padding: 3px;
    background: rgba(0, 0, 255, 1);
    text-align: center
}

.sitepageafter .tokucho {
    font-size: 110%;
    margin: 30px 15px 5px 5px
}

.sitepageafter p {
    margin: 5px 0 0 20px;
    padding-left: 0
}

.page-top {
    margin: 0;
    padding: 0;
}

.page-top p {
    margin: 0;
    padding: 0;
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 100
}

.move-page-top {
    display: block;
    width: 50px;
    height: 50px;
    color: #fff;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.move-page-top:hover {
    opacity: 0.85;
}

.mobnone, .mobnone_s, #bread, #gnav {
    display: none
}

#modt img {
    width: 10px;
    height: 10px;
    margin-right: 5px
}

.ana_m_title {
    width: 90%;
    margin-left: 5%;
}

.sb_outer {
    width: 90%;
    height: 50px;
    margin: 5px 5%;
}

.ana_m_star {
    float: left;
    width: 80%;
    height: 50px;
    position: relative;
}

.ana_m_star img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    max-width: 305px;
}

.ana_m_num {
    float: left;
    width: 20%;
    font-size: 30px;
    text-align: center;
    height: 50px;
}

.ana_m_num span {
    line-height: 50px;
}

.ana_box {
    border: 1px solid #6E6E6E;
    padding: 20px;
    width: 80%;
    max-width: 425px;
    height: auto;
    margin: 10px auto;
    font-size: 18px;
    line-height: 1;
}

.ana_i, .k_ana_i {
    height: 30px;
    vertical-align: center;
}

.ana_i_title, .k_ana_i_title {
    width: 40%;
    float: left;
    height: 30px;
}

.ana_i_title span, .k_ana_i_title span, .ana_i_num span {
    line-height: 30px;
}

.ana_i_star, .k_ana_i_star {
    width: 40%;
    height: 30px;
    float: left;
    display: block;
    position: relative;
}

.ana_i_star img, .k_ana_i_star img {
    width: 100%;
    max-width: 153px;
    height: auto;
    margin: auto auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.ana_i_num {
    width: 20%;
    height: 30px;
    float: left;
    text-align: center;
}

.k_ana_box {
    padding: 10px 5%;
    width: 90%;
}

.k_ana_box:nth-child(even) {
    background-color: #f6f6f6;
}

.k_ana_i {
    width: 80%;
    margin-left: 15%;
}

.k_data_i {
    font-size: 20px;
}

.k_data_name {
    display: inline-block;
    width: 50%;
}

.k_data_sex {
    display: inline-block;
    width: 20%
}

.k_data_age {
    display: inline-block;
    width: 30%;
}

.k_data_comment {
    margin-left: 15px;
}

.k_com_c {
    display: block;
    font-size: 16px;
}

.k_com_t {
    display: block;
    font-size: 18px;
    width: 90%;
    margin-left: 5%;
}

.site_data dl {
    width: 95%;
    overflow: hidden;
    border: 1px solid #ccc;
    border-top: none;
    background: #ddd;
    font-size: 15px;
    margin: 20px auto 20px auto;
}

.site_data dt {
    width: 30%;
    float: left;
    padding: 5px;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
}

.site_data dd {
    margin-left: 30%;
    padding: 5px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background: #fff;
}

.site_data dd:after {
    display: block;
    content: "";
    clear: both;
}

#kuchi_open {
    text-align: center;
}

.ranking {
    text-align: center;
}

.data_comment p {
    margin: 15px 15px 30px;
}

.sp_comment {
    width: 80%;
    margin: 25px auto 15px;
    padding: 0;
}

.sp_comment p {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}


.page-top {
    margin: 0;
    padding: 0;
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 100
}

.move-page-top {
    display: block;
    width: 50px;
    height: 50px;
    color: #fff;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
}

.move-page-top.show {
    opacity: 1;
}

.move-page-top.show:hover {
    opacity: 0.85;
}

/*ranking*/
.h2outer {
    position: relative
}

.ranking h2 {
    width: 90%;
    color: #767676;
    margin-left: 40px;
    display: inline-block;
    line-height: 1;
    position: relative;
    background-color: #ffffff;
    font-size: 26px;
    padding-left: 0;
}

.ranking h2:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 13px solid #ffffff;
    border-left: 20px solid #767676;
    border-bottom: 13px solid #ffffff;
    position: absolute;
    top: 7px;
    left: -35px;
}

.order {
    background-color: #D4571B;
    color: #ffffff;
    font-size: 18px;
    line-height: 1;
    padding: 10px 7px 5px;
    letter-spacing: 3px;
}

.o_num {
    font-size: 24px;
}

.r_site_name {
    margin-left: 10px;
    font-size: 28px;
    font-weight: bolder;
}

.wk_img {
    width: 236px;
    height: 80px;
    margin: 40px auto;
}

.pm_img {
    width: 240px;
    height: 90px;
    margin: 40px auto;
}

.hm_img {
    width: 234px;
    height: 60px;
    margin: 40px auto;
}

.iq_img {
    width: 240px;
    height: auto;
    margin: 40px auto;
}

.ranking .cachcopy p {
    font-size: 20px;
    width: 80%;
    margin: 0 auto 0;
}

.kuchi_go {
    margin-top: 20px;
    text-align: center;
}

.ranking h4 {
    color: #5B5B5B;
    display: inline-block;
    padding: 3px 5px;
    margin-left: 0;
    line-height: 1;
}

#fnav:after, #gnav:after, #pnav:after, #tibl:after, .dousen:after, .sitepagetop:after,
.eft3:after, #bread:after, .ana_i:after, .k_ana_i:after, .sb_outer:after, #review_t label:after, .cachcopy:after, #f_wrap:after, #site_star_o:after, #site_main_data:after {
    content: "";
    display: block;
    clear: both
}


@media screen and (max-width: 320px) {
    .site_data dt {
        width: 100%;
        float: none;
    }

    .site_data dd {
        margin-left: auto;
        border-left: none;
    }
}

@media screen and (min-width: 824px) {
    #outline {
        text-align: left;
        width: 100%;
        max-width: 824px;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
    }

    #header {
        border-bottom: 1px solid #6E6E6E;
        padding: 0;
        height: 70px;
    }

    #tibl {
        height: 70px;
        overflow: hidden;
        width: 1024px;
        margin: 0 auto;
    }

    #title {
        float: left;
        margin-left: 50px;
        padding-top: 15px;
        width: 250px;
        height: 37px;
    }

    #title img {
        width: 250px;
        height: 37px;
    }

    #dis {
        float: left;
        margin: 10px 0 0 50px;
        font-size: 12px;
        color: #464646;
        display: block;
    }

    #footer {
        clear: both;
        width: 100%;
        border-top: 2px dotted rgba(153, 153, 153, 1)
    }

    #footer1 {
        background-color: #00A2a8;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 5px 0 3px;
        text-align: center;
        color: #fff;
        font-weight: bold;
        font-size: 14px
    }

    #footer a:hover {
        color: #f60
    }

    .ud {
        display: none
    }

    #footer2 {
        text-align: center;
        color: #333;
        margin: 0 auto 0 auto;
        width: 100%;
        height: auto;
        font-size: 14px
    }

    #fnav {
        display: block;
        padding: 7px 0;
        width: 85%;
        float: left;
    }

    #fnav li {
        float: left;
        width: 19.4%;
        text-align: center;
        list-style: none
    }

    #fnav a {
        font-size: 12px;
        font-weight: 600;
        text-decoration: none;
        padding: 4px 0 2px;
        display: block;
        color: #666;
        text-shadow: rgba(102, 102, 102, 1)
    }

    .top #fnav li.fnav00 a, .profile #fnav li.fnav01 a, .post #fnav li.fnav02 a, .f_mail #fnav li.fnav03 a, .s_mail #fnav li.fnav04 a, .date #fnav li.fnav05 a, .how_to #fnav li.fnav06 a, .site #fnav li.fnav07 a, .caution #fnav li.fnav08 a, .qa #fnav li.fnav09 a {
        color: #f90
    }

    #fnav a:hover {
        color: #F60;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        transition: .5s
    }

    #pnav {
        text-align: center;
        width: 90%;
        padding: 10px 0 5px 10px;
        margin: 0 auto
    }

    #pnav li {
        float: left;
        list-style: none
    }

    #pnav li:after {
        content: "-"
    }

    #pnav a {
        font-size: 11px;
        font-weight: 500;
        text-decoration: none;
        padding: 1px 3px;
        color: #666;
        text-shadow: rgba(102, 102, 102, 1)
    }

    #bread {
        width: 100%;
        font-size: 13px;
        margin: 0;
        padding: 0
    }

    #bread a {
        color: #0074a2;
        font-size: 13px;
        margin: 0;
        padding: 0
    }

    .brd1, .brd2 {
        margin: 1px 0 0 8px;
        padding: 0;
        float: left
    }

    #modt {
        text-align: right;
        margin-bottom: 15px;
        font-size: 70%;
        width: 95%;
        margin-right: 5%
    }

    .efooter {
        margin-right: 10%;
        width: 90%
    }

    .eft3 {
        width: 100%;
        margin-bottom: 1em
    }

    .eft2 {
        float: right
    }

    .eft1 {
        margin-right: 1em;
        font-size: 80%
    }

    .imgnon {
        display: none
    }

    .sitepagetop {
        width: 100%;
        clear: both
    }

    .cachcopy {
        width: 480px;
        float: left;
        font-size: 24px;
        font-weight: 400;
        padding: 0;
        margin: 0
    }


    h1 {
        width: 95%;
        padding: 0;
        margin: 10px 0 3px 3%;
        font-weight: 700;
        font-size: 200%;
        color: #00A2a8
    }

    h2 {
        background: 0 0;
        width: 97%;
        padding: 5px 0 2px 5px;
        margin: 55px 0 15px;
        border-bottom: none;
        font-size: 30px;
        font-weight: 700;
        color: rgba(0, 153, 255, 1)
    }

    .sq_img {
        width: 40%;
        height: auto;
        float: none;
        margin: 15px auto;
    }


    .maindisc {
        font-size: 25px;
        font-weight: normal;
        color: #000;
        margin: 0;
        float: none;
        width: 100%;
    }

    .maindisc p {
        width: 90%;
        margin: 10px 5%;
    }

    .subdisc {
        width: 80%;
        font-size: 18px;
        font-weight: normal;
        margin: 15px auto 0
    }

    .subdisc ul {
        margin: 0 0 0 1em;
        padding: 0
    }

    .subdisc ul li {
        margin: 5px 0;
        padding: 0;
        color: rgba(255, 102, 0, 1)
    }

    .sec1, .sec2 {
        margin-bottom: 50px;
        padding-right: 30px
    }

    .dousen {
        width: 100%;
        height: 100px;
        padding: 10px 0;
        margin: 10px 0 20px;
        background: rgba(254, 238, 224, 1)
    }

    .dousenin {
        width: 470px;
        height: 100px;
        padding: 0;
        margin: 0 auto;
    }

    .sphmban {
        margin: 0;
        float: left;
        width: 234px;
        height: 100px;
        position: relative;
    }

    .sphmban img {
        width: 234px;
        height: 60px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    .dousendisc {
        width: 236px;
        height: 100px;
        margin: 0;
        padding: 0;
        float: left;
        font-size: 15px;
        font-weight: 700;
        position: relative;
    }

    .dousendisc p {
        width: 100%;
        line-height: 60px;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        text-align: center;
    }


    .sitepageafter {
        width: 100%;
        font-size: 20px;
        padding-top: 20px
    }

    .sitepageafter p {
        margin: 5px 0 0 30px;
        padding-left: 1em
    }

    .sitepageafter p span {
        font-size: 13px;
        color: #666;
        margin: 0 1em;
        line-height: 15px
    }

    .sitepageafter .step {
        width: 5em;
        font-size: 13px;
        color: #fff;
        margin: 30px 15px 15px 35px;
        padding: 3px;
        background: rgba(0, 0, 255, 1);
        text-align: center
    }

    .sitepageafter .tokucho {
        width: 18em;
        font-size: 18px;
        color: #fff;
        margin: 30px 15px 15px 35px;
        padding: 5px 10px;
        background: rgba(51, 51, 51, 1);
        text-align: center
    }

    .page-top {
        margin: 0;
        padding: 0;
    }

    .page-top p {
        margin: 0;
        padding: 0;
        position: fixed;
        right: 16px;
        bottom: 16px;
        z-index: 100
    }

    .move-page-top:hover {
        opacity: 0.85;
    }

    #modt img {
        width: 10px;
        height: 10px;
        margin-right: 5px
    }

    .sq_img {
        float: none;
    }

    .cachcopy {
        width: 40%;
        float: left;
    }

    #site_star_o, .ss_o {
        width: 58%;
        border: 1px solid #6E6E6E;
        float: left;
        padding: 15px 0;
        margin: 0;
    }

    .ana_box {
        border: none;
    }

    .mobnone {
        display: block;
    }

    .mobnone_s {
        display: inline;
    }

    .ana_box {
        margin-top: 0;
        margin-bottom: 0;
    }

    .site_data dl {
        max-width: 600px
    }
}

@media screen and (min-width: 1024px) {
    #navop {
        display: block
    }

    #gnav {
        margin: 30px 0;
        height: 60px;
        width: 450px;
        float: right;
        display: block;
    }

    #gnav li {
        float: left;
        width: 32%;
        text-align: center;
        list-style: none
    }

    #gnav a {
        font-size: 14px;
        text-decoration: none;
        padding: 7px 0 5px;
        display: block;
        color: #333333
    }


    .majime #gnav li.gnav01 a, .post #gnav li.gnav01 a, .f_mail #gnav li.gnav01 a, .profile #gnav li.gnav01 a, .s_mail #gnav li.gnav01 a, .date #gnav li.gnav01 a, .how_to #gnav li.gnav01 a, .site #gnav li.gnav03 a, .caption #gnav li.gnav05 a {
        color: #F60
    }

    #gnav a:hover {
        background: #FFD2B4;
        color: #F60;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        transition: .5s
    }
}